#!/usr/bin/env ruby

preprocess do
  create_tag_pages(@items)
end

compile '/**/*.html' do
  layout '/default.*'
end

compile '/archives.html.erb' do
  filter :erb
  layout '/default.*'
end

compile %r[/([0-9]+)\-([0-9]+)\-([0-9]+)\-([^\/]+)\..*] do |y, m, d, slug|
  filter :kramdown
  layout '/post.*'
end

compile '/**/*.markdown' do
  filter :kramdown
  layout '/default.*'
end

compile '/**/*.scss' do
  filter :sass, syntax: :scss
end

route %r[/([0-9]+)\-([0-9]+)\-([0-9]+)\-([^\/]+)\..*] do |y, m, d, slug|
  "/blog/#{y}/#{m}/#{d}/#{slug}/index.html"
end

route '/archives.html.erb' do
  '/archives/index.html'
end

route '/**/*.scss' do
  item.identifier.without_ext
end

route '/**/*.html' do
  if item.identifier =~ '/index.*'
    '/index.html'
  elsif item.identifier == '/404.html'
    '/404.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
