#!/usr/bin/env ruby

compile '/**/*.html' do
  layout '/default.*'
end

compile '/**/*.markdown' do
  filter :kramdown
  layout '/default.*'
end

compile '/**/*.scss' do
  filter :sass, syntax: :scss
end

route %r[/([0-9]+)\-([0-9]+)\-([0-9]+)\-([^\/]+)\..*] do |y, m, d, slug|
  "/blog/#{y}/#{m}/#{d}/#{slug}/index.html"
end

route '/**/*.scss' do
  item.identifier.without_ext
end

route '/**/*.html' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
