#!/usr/bin/env ruby

preprocess do
  create_tag_pages(items)
end

compile '/blog/categories/**/*.erb' do
  filter :erb
  layout '/tag.*'
end

compile '/post/**/*' do
end

compile '/**/*.html' do
  layout '/default.*'
end

compile '/{index,archives}.html.erb' do
  filter :erb
  layout '/default.*'
end

compile '/{atom,sitemap}.xml.erb' do
  filter :erb
end

compile %r[/([0-9]+)\-([0-9]+)\-([0-9]+)\-([^\/]+)\..*] do |y, m, d, slug|
  filter :kramdown
  layout '/post.*'
end

compile '/**/*.markdown' do
  filter :kramdown
  layout '/default.*'
end

compile '/**/*.scss' do
  filter :sass, syntax: :scss
end

route %r[/([0-9]+)\-([0-9]+)\-([0-9]+)\-([^\/]+)\..*] do |y, m, d, slug|
  "/blog/#{y}/#{m}/#{d}/#{slug}/index.html"
end

route '/index.html.erb' do
  "/index.html"
end

route '/archives.html.erb' do
  '/archives/index.html'
end

route '/post/**/*' do
  item.identifier.to_s
end

route '/**/_*.scss' do
  # skip
end

route '/**/*.scss' do
  item.identifier.without_ext
end

route '/{atom,sitemap}.xml.erb' do
  item.identifier.without_ext
end

route '/blog/categories/**/*.erb' do
  item.identifier.without_ext + '/index.html'
end

route '/**/*.html' do
  if item.identifier =~ '/index.*'
    '/index.html'
  elsif item.identifier == '/404.html'
    '/404.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
