$base-color: #333;
$base-background-color: #fff;
$base-content-background-color: #fff;
$base-link-color: #7f8c8d;
$base-link-hover-color: #f1c40f;
$base-button-color: #000;
$base-code-background-color: #fafafa;
$base-border-color: #ddd;

body {
  color: $base-color;
  background-color: $base-background-color;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  a, a:visited {
    color: $base-color;
    text-decoration: none;
  }
}

a, a:visited {
  color: $base-color;
  text-decoration: underline;
}
a:hover {
  color: $base-link-hover-color;
}

header, article, footer {
  margin: 0 auto;
  width: 70%;
  max-width: 780px;
  font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  padding: 1em 4em;
  margin-bottom: 1em;
  background-color: $base-content-background-color;
}

.blog article {
  h2 {
    margin-top: 1.5em;
  }
  #article-info {
    font-size: 80%;
    margin-top: 1.5em;
    margin-bottom: 2em;
  }
}

header {
  margin-top:20px;
  margin-bottom:0;
}

footer {
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom:20px;
}

#site-title {
  font-family: serif;
  min-height: 70px;
  padding: 1em;
  text-align: center;
  h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 100;
  }
}

nav, footer {
  font-family: serif;
  a, a:visited {
    color: $base-color;
    background-color: $base-background-color;
  }
  a:hover {
    color: $base-color;
    background-color: $base-background-color;
  }
}

.page {
  font-size: 200%;
}

.pure-button {
  font-size: 80%;
  padding: .2em 1.0em;
}

a.pure-button, a:visited.pure-button {
  color: $base-button-color;
}

pre, code {
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  color: $base-color;
  padding: .2em;
}

code {
  background-color: $base-code-background-color;
}

pre code {
  display: block;
  font-size: 0.9em;
  border: solid 1px $base-border-color;
  padding: 1em;
}

.comments {
  margin-top: 2em;
}

.share {
  margin-top: 1em;
  margin-bottom: 1em;
}

input[type=search] {
  width: 12em;
}

img {
  display: block;
  border: 0;
  max-width: 100%;
}

.index, .page {
  section {
    border-bottom: 1px solid $base-background-color;
  }
}

.archives {
  section {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid $base-background-color;
  }
  .article-title {
    margin: 0;
    padding: 0;
    font-size: 1.17em;
    font-weight: normal;
  }
  .article-date {
    vertical-align: middle;
  }
  .tags {
    padding-left: 20%;
  }
}

@media (max-width: 767px) {
  header, article, footer {
    width: 90%;
    font-size: 90%;
    margin-bottom:20px;
    padding: 1em 1em;
  }
  header {
    min-height: auto;
    margin-bottom: 0;
  }
  h1 {
    font-size: 1.8em;
  }
  input[type=search] {
    width: 6em;
  }
  .archives {
    .tags {
      padding-left: 0%;
    }
  }
  .article {
    margin-bottom: 2em;
  }
}
