<div class="share">
  <div class="addthis_toolbox addthis_default_style ">
    <a class="addthis_counter addthis_pill_style"></a>
  </div>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=<%= data.site.addthis_id %>"></script>
  <script type="text/javascript">
    var addthis_config = {
      data_track_clickback: false
    }
  </script>
</div>
