---
title: Archives
---
<article>
  <% sorted_articles.each_with_index do |article, i| %>
  <section>
    <div class="pure-g-r">
      <div class="pure-u-1-5"><span class="article-date"><%= Time.parse(article[:created_at].to_s).strftime('%Y.%m.%d') %></span></div><div class="pure-u-4-5"><h2 class="article-title"><%= link_to article[:title], article.path %></h2><span class="tags"><%= render "/_tags.*", item: article %></span></div>
    </div>
  </section>
  <% end %>
</article>
