/* line 14, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
body {
  color: #404142;
  background-color: #ecf0f1; }

/* line 19, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }
  /* line 21, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
  h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited, h4 a, h4 a:visited, h5 a, h5 a:visited, h6 a, h6 a:visited {
    color: #404142;
    text-decoration: none; }

/* line 27, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
a, a:visited {
  color: #7f8c8d; }

/* line 31, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
header, article, footer {
  margin: 0 auto;
  width: 70%;
  padding: 1em 4em;
  margin-bottom: 1em;
  background-color: white;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }

/* line 40, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
header {
  margin-top: 20px;
  margin-bottom: 0; }

/* line 45, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
footer {
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 20px; }

/* line 51, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
#site-title {
  min-height: 70px;
  padding: 1em;
  text-align: center; }
  /* line 55, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
  #site-title h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 100; }

/* line 62, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
.pure-button {
  font-size: 75%;
  padding: .2em 1.0em; }

/* line 67, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
a.pure-button, a:visited.pure-button {
  color: black; }

/* line 71, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
.pure-paginator {
  margin-top: 1em; }

/* line 75, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
pre, code {
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  color: #404142;
  padding: .2em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

/* line 82, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
code {
  background-color: #fafafa; }

/* line 86, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
pre code {
  display: block;
  font-size: 0.9em;
  border: solid 1px #ecf0f1;
  padding: 1em; }

/* line 93, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
.comments {
  margin-top: 2em; }

/* line 97, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
.share {
  margin-top: 1em;
  margin-bottom: 1em; }

/* line 102, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
input[type=search] {
  width: 12em; }

/* line 106, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
img {
  display: block;
  border: 0;
  max-width: 100%; }

/* line 113, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
.index section, .page section {
  border-bottom: 1px solid #ecf0f1; }

/* line 119, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
.archives section {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ecf0f1; }
/* line 124, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
.archives .article-title {
  margin: 0;
  padding: 0;
  font-size: 1.17em;
  font-weight: normal; }
/* line 130, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
.archives .article-date {
  vertical-align: middle; }
/* line 133, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
.archives .tags {
  padding-left: 20%; }

@media (max-width: 767px) {
  /* line 139, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
  header, article, footer {
    width: 90%;
    font-size: 90%;
    margin-bottom: 20px;
    padding: 1em 1em; }

  /* line 145, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
  header {
    min-height: auto;
    margin-bottom: 0; }

  /* line 149, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
  h1 {
    font-size: 1.8em; }

  /* line 152, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
  input[type=search] {
    width: 6em; }

  /* line 156, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
  .archives .tags {
    padding-left: 0%; }

  /* line 160, /private/tmp/4/f440.github.com/source/stylesheets/screen.css.scss */
  .article {
    margin-bottom: 2em; } }
