<% render "/default.*" do %>
<article>
  <h1>Articles tagged '<%= @item[:tag] %>'</h1>
  <ul>
    <% items_with_tag(@item[:tag]).reverse.each_with_index do |article, i| %>
    <li><span><%= Time.parse(article[:created_at].to_s).strftime('%Y.%m.%d') %></span> <%= link_to article[:title], article.path %></li>
    <% end %>
  </ul>
</article>
<% end %>
