@import "pure-min";
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

/*! apatheia.info css */

$base-color: #333;
$base-background-color: #fff;
$base-content-background-color: #fff;
$base-link-color: #7f8c8d;
$base-link-hover-color: #f1c40f;
$base-button-color: #000;
$base-code-background-color: #fafafa;
$base-border-color: #ddd;

body {
  color: $base-color;
  background-color: $base-background-color;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  a, a:visited {
    color: $base-color;
    text-decoration: none;
  }
}

a, a:visited {
  color: $base-color;
  text-decoration: underline;
}
a:hover {
  color: $base-link-hover-color;
}

header, article, footer {
  margin: 0 auto;
  width: 70%;
  max-width: 780px;
  font-family: "Inconsolata", 'Hiragino Kaku Gothic ProN', 'メイリオ', sans-serif;
  background-color: $base-content-background-color;
}

.blog article {
  #article-info {
    font-size: 80%;
  }
}

#site-title {
  min-height: 70px;
  text-align: center;
  h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 100;
  }
}

nav, footer {
  a {
    color: $base-color;
    background-color: $base-background-color;
    &:visited {
      color: $base-color;
      background-color: $base-background-color;
    }
    &:hover {
      color: $base-color;
      background-color: $base-background-color;
    }
  }
}

.pure-button {
  font-size: 0.8rem;
  padding: .2em 1.0em;
}

a.pure-button, a:visited.pure-button {
  color: $base-button-color;
}

pre, code {
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  color: $base-color;
  padding: .2em;
}

code {
  background-color: $base-code-background-color;
}

pre code {
  display: block;
  font-size: 0.9em;
  border: solid 1px $base-border-color;
  padding: 1em;
}

.comments {
  margin-top: 2em;
}

.share {
  margin-top: 1em;
  margin-bottom: 1em;
}

input[type="search"] {
  margin-left: 1em;
  border: none;
}

@mixin search-placeholder {
  padding-left: 0.1em;
  font-size: 1em;
  color: #333333;
  font-family: "Inconsolata", 'Hiragino Kaku Gothic ProN', 'メイリオ', sans-serif;
}

input[type="search"]:-ms-input-placeholder {
  @include search-placeholder;
}
input[type="search"]:-moz-placeholder {
  @include search-placeholder;
}
input[type="search"]::-moz-placeholder {
  @include search-placeholder;
}
input[type="search"]::-webkit-input-placeholder {
  @include search-placeholder;
}
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

img {
  display: block;
  border: 0;
  max-width: 100%;
}

.index, .page {
  section {
    border-bottom: 1px solid $base-background-color;
  }
}

.archives {
  section {
    padding-bottom: 1em;
    border-bottom: 1px solid $base-background-color;
    min-height: 3em;
  }
  .article-title {
    margin: 0;
    padding: 0;
    font-size: 1.17em;
    font-weight: normal;
  }
  .article-date {
    vertical-align: middle;
  }
  .tags {
    padding-left: 20%;
  }
}

@media (max-width: 767px) {
  header, article, footer {
    width: 90%;
    font-size: 90%;
    margin-bottom:20px;
    padding: 1em 1em;
  }
  header {
    min-height: auto;
    margin-bottom: 0;
  }
  h1 {
    font-size: 1.8em;
  }
  input[type="search"] {
    width: 6em;
  }
  .archives {
    .tags {
      padding-left: 0%;
    }
  }
  .article {
    margin-bottom: 2em;
  }
}
