@import 'pure-min';

$base-color: #333;
$base-background-color: #fff;
$base-content-background-color: #fff;
$base-code-background-color: #fafafa;
$base-border-color: #ddd;

body {
  background-color: $base-background-color;
  color: $base-color;
  font-family: system-ui, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;

  a, a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

a, a:visited {
  color: $base-color;
}

header, article, footer {
  margin: 0 auto;
  max-width: 780px;
  width: 70%;
}

.blog article {
  #article-info {
    font-size: 80%;
  }
}

#site-title {
  min-height: 3rem;

  h1 {
    font-size: 2.5em;
    margin: 0;

    a {
      text-decoration: none;
    }
  }
}

nav, footer {
  margin-bottom: 1em;

  a {
    color: $base-color;

    &:visited {
      color: $base-color;
    }

    &:hover {
      color: $base-color;
      text-decoration: underline;
    }
  }
}

pre, code {
  color: $base-color;
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  padding: .2em;
  overflow: scroll;
}

code {
  background-color: $base-code-background-color;
}

pre code {
  border: solid 1px $base-border-color;
  display: block;
  font-size: .9em;
  padding: 1em;
}

.comments {
  margin-top: 2em;
}

.share {
  margin-bottom: 1em;
  margin-top: 2em;
}

img {
  border: 0;
  display: block;
  max-width: 100%;
}

.index, .page {
  section {
    border-bottom: 1px solid $base-background-color;
  }
}

.archives {
  article {
    padding-top: 1em;
  }

  section {
    border-bottom: 1px solid $base-background-color;
    min-height: 3em;
    padding-bottom: 1em;
  }

  .article-title {
    font-size: 1.17em;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }

  .article-date {
    vertical-align: middle;
  }
}

nav ul, footer ul {
  list-style: none;
  padding: 0;

  li {
    float: left;
    margin: 0;
    padding-right: 1em;
  }
}

nav::after, footer::after {
  clear: both;
  content: '';
  display: table;
}

@media (max-width: 767px) {
  header, article, footer {
    font-size: 90%;
    margin-bottom: 1em;
    width: 90%;
  }

  article {
    padding-top: 0;

    h2 {
      margin: 0;
    }
  }

  header {
    margin-top: 1em;
    margin-bottom: 0;
    min-height: auto;
  }

  h1 {
    font-size: 1.8em;
  }

  .archives {
    .tags {
      padding-left: 0%;
    }

    article {
      margin-bottom: 0;
      padding: 0;
    }
  }

  #site-title {
    min-height: 2rem;
  }

  .article {
    margin-bottom: 2em;
  }

  .index p {
    margin: .5em 0;
  }
}
