// $color-background: #eee;
$color-background: #fbfbfb;
// $color-main: #258fb8;
// $color-gray01: #666;
$color-gray01: #505050;
// $color-gray02: #999;
$color-gray02: #666;
// $color-gray03: #ccc;
// $color-gray04: #ddd;
 $color-gray04: #f2f2f2;
// $color-gray05: #fff;
